@{
    Layout= "_Layout";
}

@section Style{
    <link rel="stylesheet" href="~/css/StyleRecapitulatif.css" />
}


<div class="recap">
    <div class="info1">
        <span>Categorie B</span> 
        <span>Prix : 450dh</span>
    </div>
    <div class="info2">
        <span>Nombre de personne :2</span>
        <span>Stade : Honneur</span>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="" asp-controller="">Valider</a>
    </div>

</div>